        html,
        body,
        #map,
        #pano {
            width: 100% ;
            height: 100%;
            margin: 0;
        }

       
      
        input{
            margin-top: 5px;
            margin-left: 3px;
            margin-right: 1px;
            margin-bottom: 4px;
           
        }