html{
    background-color: black;
}

body{ 
   
    max-width: 80%;
    margin: auto;
    background-color: white;
    
    


}
 
 
  .a {
            background-color: yellow;
            width: 235px;
            border: 15px solid black;
            padding: 50px;
            float:left;  margin:20px;
            
 }

div h2 {   
    clear: both;
    
}
