p { 
    color:blue;
    text-align: center;
    font-size: 42px;
    
}
 h1{
     color: chartreuse;
     text-align: center;
     font-style: italic;
     background-color: darkcyan;
     font-size: 13rem;
 }